@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

.container {
  display: grid;
  width: 100%;
  margin: 0px auto;
  gap: 10px;
}

main {
  border: 1px solid #000000;
  width: 70%;
  height: 90vh;
  margin: 0rem auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0c5498;
  color: #ffffff;
  padding: 0rem 1rem;
}

ul {
  display: flex;
}

ul > li {
  list-style-type: none;
  margin: 0px 0rem;
  padding: 0rem 0.5rem;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.filters {
  display: flex;
}

.searchBar {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
}
